  <div id="hello">
  <div id="index2back">
  <br><br>
      <% include head %>

    <div class="col-md-1 col-lg-1">
    </div>  
  </div>

    <div id="index2contents">
      <div class="row">
        <div class="block1 col-md-0 col-lg-1">
        </div>
        <div class="block2 col-md-12 col-lg-10" id="mainsection">

<div id="chapter">

      <% maths.forEach(function(math) { %>
  <div>

      <h2><div id ="h2"><font color="black"><%= math.title %></div></h2>
      
      <div class="content">
        <h3>重點內容：</h3>
        <%- math.body.replace(/\>/g,"&gt").replace(/\</g,"&lt").replace(/\n/g,"<br>")%>
        <div id ="editt"><div class="edit_button"><a href="/math/edit_content/<%= math.title %>"><font color="#0404B4 ">Edit</font></a> </div> </div>
      </div>
      
      <div class="content">
        <h3>例題</h3>
        <%- math.example.replace(/\>/g,"&gt").replace(/\</g,"&lt").replace(/\n/g,"<br>")%>
        <div id ="editt"><div class="edit_button"><a href="/math/edit_example/<%= math.title %>"><font color="#0404B4">Edit</font></a> </div> </div>
      </div>
     
      <div class="content">
       <h3>補充題目</h3>
       <%- math.exercise.replace(/\>/g,"&gt").replace(/\</g,"&lt").replace(/\n/g,"<br>") %>
       <div id ="editt"><div class="edit_button"><a href="/math/edit_exercise/<%= math.title %>"><font color="#0404B4">Edit</font></a> </div> </div>
      </div>
  </div>

  <% }); %>
  <br><br>
  <div class="ui primary button" id="backbutton">  
  <a href="/math/practice">Practice</a>
  </div>
  <div class="ui primary button" id="backbutton">  
  <a href="/math">Back</a>
  </div>
  </div></font>




        </div>
        <div class="col-md-0 col-lg-1">  
        </div>  
      </div>
    </div>
  </div>
