  <div id="index2back">
      <% include head %>

    <div class="col-md-1 col-lg-1">
    </div>  
  </div>

    <div id="index2contents">
      <div class="row">
        <div class="block1 col-md-0 col-lg-1">
        </div>
        <div class="block2 col-md-12 col-lg-10" id="mainsection">

        </div>
        <div class="col-md-0 col-lg-1">  
        </div>  
      </div>
    </div>
  </div>
  
  <div>

      <% maths.forEach(function(math) { %>
  <div>

      <h2 style="margin-top:30px"><%= math.title %></h2>
      
      <div class="content">
        <%= math.body %><div style="float:right" class="edit_button"><a href="/math/edit_content/<%= math.title %>">Edit</a> </div>
      </div>
      
      <div class="content">
        <%= math.example %><div style="float:right" class="edit_button"><a href="/math/edit_example/<%= math.title %>">Edit</a> </div>
      </div>
     
      <div class="content">
        <%= math.exercise %><div style="float:right" class="edit_button"><a href="/math/edit_exercise/<%= math.title %>">Edit</a> </div>
      </div>
  </div>

  <% }); %>
  <a href="/math">Back</a>
  </div>
