  <div id="hello">
  <div id="index2back">
  <br><br>
      <% include head %>

    <div class="col-md-1 col-lg-1">
    </div>  
  </div>

    <div id="index2contents">
      <div class="row">
        <div class="block1 col-md-0 col-lg-1">
        </div>
        <div class="block2 col-md-12 col-lg-10" id="mainsection">


  <div id="chapter">

      <% physicss.forEach(function(physics) { %>
  <div>

      <h2><div id ="h2"><font color="black"><%= physics.title %></div></h2>
      
      <div class="content">
        <h3>重點內容：</h3>
        <%- physics.body.replace(/\>/g,"&gt").replace(/\</g,"&lt").replace(/\n/g,"<br>")%>
        <div id ="editt"><div class="edit_button"><a href="/physics/edit_content/<%= physics.title %>"><font color="#0404B4 ">Edit</font></a> </div> </div>
      </div>
      
      <div class="content">
        <h3>例題</h3>
        <%- physics.example.replace(/\>/g,"&gt").replace(/\</g,"&lt").replace(/\n/g,"<br>")%>
        <div id ="editt"><div class="edit_button"><a href="/physics/edit_example/<%= physics.title %>"><font color="#0404B4">Edit</font></a> </div> </div>
      </div>
     
      <div class="content">
       <h3>補充題目</h3>
       <%- physics.exercise.replace(/\>/g,"&gt").replace(/\</g,"&lt").replace(/\n/g,"<br>") %>
       <div id ="editt"><div class="edit_button"><a href="/physics/edit_exercise/<%= physics.title %>"><font color="#0404B4">Edit</font></a> </div> </div>
      </div>
  </div>

  <% }); %>
  <br><br>
  <div class="ui primary button" id="backbutton">  
  <a href="/practice/<%= physics.title %>">Practice</a>
  </div>
  <div class="ui primary button" id="backbutton">  
  <a href="/physics">Back</a>
  </div>
  </div></font>






        </div>
        <div class="col-md-0 col-lg-1">  
        </div>  
      </div>
    </div>

  

  </div>
