<div id="practicetitle">
<h2 class= "ui header">這是<%- title %>單元的練習題目</h2>
<div id="divider">
<div class="ui inverted divider"></div>
</div>
</div>
<%var i=1 %>

<% practices.forEach(function(practice) { %>
	<div>
	<div id="practicecontent">
		<div class="ui red message">
		<h5>problem <%- i %> </h5>
	
		<div><%- practice.problem %></div>
		
		<div><input type="radio" id="a" name="<%- i %>" value="a">a.<%- practice.a %></div>
		<div><input type="radio" id="b" name="<%- i %>" value="b">b.<%- practice.b %></div>
		<div><input type="radio" id="c" name="<%- i %>" value="c">c.<%- practice.c %></div>
		<div><input type="radio" id="d" name="<%- i %>" value="d">d.<%- practice.d %></div>
		<div ><button id="<%- i %>" class="checkans">Check ans</button>
			<div class="hideans" id = "counter<%- i %>">ans is <%- practice.ans %></div>
		</div>
		</div>
	</div>
	</div>
	<br><br>


<% i=i+1 %>
<% }); %>
<div id="gotomain2">
<a class="ui purple button" href="/main" id="gotomain">Main Page</a></div>
<br><br>